from helpers.imgtools import *

TOKEN = ''
PREFIX = '>'
DESCRIPTION = 'This is a KGS501 Productions bot!'
PRINT_LOGGING = True

FONTS = {
    'regular': os.path.join('fonts', 'Product_Sans_Regular.ttf'),
    'bold': os.path.join('fonts', 'Product_Sans_Bold.ttf'),
}

IMAGES_LOAD_MEMORY = [
    DirectoryImageLoader(prefix='emojis', directory=os.path.join('images', 'emojis'))
]

PROFILE_IMAGE = lambda x: [
    RectangleLayer(
        pos=(0, 0),
        line_width=-1,
        size=(600, 150),
        radius=20,
        color=(55, 50, 48),
    ),
    WebImageLayer(
        pos=(15, 14),
        resize=(123, 123),
        url=x['avatar_url']
    ),
    EmojiLayer(
        pos=(147, 9),
        resize=(40, 40),
        emoji=x['member'].top_role.name[0]
    ),
    ProgressLayer(
        pos=(145, 111),
        percentage=x['xp_percentage'],
        line_width=-1,
        direction='x',
        size=(414, 20),
        radius=10,
        color=LinearGradientColor((24,  110, 241, 255),
                                  (7, 222, 255, 255),
                                  1)
    ),
    TextLayer(
        pos=(200, 30),
        align_y='center',
        font='regular',
        font_size=min(35, max(10, int(520 / len(str(x['name']))))),
        text=str(x['name']),
        color=x['color'],
        max_size=(300, 35)
    ),
    TextLayer(
        pos=(150, 87),
        font='regular',
        font_size=22,
        text='Lvl.',
        color=(103, 103, 103),
        max_size=(30, 22)
    ),
    TextLayer(
        pos=(185, 83),
        font='regular',
        font_size=28,
        text=str(x['lvl']),
        color=(255, 255, 255),
        max_size=(100, 28)
    ),
    TextLayer(
        pos=(578, 16),
        align_x='right',
        font='regular',
        font_size=28,
        text='#' + str(x['rank']),
        color=x['color'],
        max_size=(80, 28)
    ),
    TextLayer(
        pos=(580, 66),
        align_x='right',
        font='regular',
        font_size=20,
        text='{:.2f}x'.format(x['xp_multiplier']) if x['xp_multiplier'] != 1 else '',
        color=(102, 172, 47) if x['xp_multiplier'] > 1 else ((60, 20, 220) if x['xp_multiplier'] < 0 else (0, 128, 255)),
        max_size=(150, 20)
    ),
    TextLayer(
        pos=(580, 90),
        align_x='right',
        font='regular',
        font_size=18,
        text=str(x['xp']) + ' / ' + str(x['max_xp']) + ' XP',
        color=(170, 170, 170),
        max_size=(280, 18)
    )
]

LEVEL_UP_IMAGE = lambda x: [
    RectangleLayer(
        pos=(0, 0),
        line_width=-1,
        size=(200, 100),
        radius=20,
        color=(55, 50, 48),
    ),
    EmojiLayer(
        pos=(58, 70),
        resize=(16, 16),
        emoji=x['member'].top_role.name[0],
    ),

    EmojiLayer(
        pos=(125, 70),
        resize=(16, 16),
        emoji=x['member'].top_role.name[0],
    ),

    ProgressLayer(
        pos=(80, 77),
        percentage=1,
        line_width=-1,
        size=(34, 4),
        radius=2,
        color=LinearGradientColor(SingleColor(x['color']).alpha(0),
                                  SingleColor(x['color']),
                                  1)
    ),

    TextLayer(
        pos=(53, 73),
        align_x='right',
        font='regular',
        font_size=12,
        text='Lvl. ' + str(x['old_lvl']),
        color=x['color'],
        max_size=(50, 22)
    ),

    TextLayer(
        pos=(145, 73),
        font='regular',
        font_size=12,
        text='Lvl. ' + str(x['new_lvl']),
        color=x['color'],
        max_size=(50, 22)
    ),

    TextLayer(
        pos=(100, 43),
        font='regular',
        font_size=13,
        align_x='center',
        text=x['name'],
        color=(255, 255, 255),
        max_size=(180, 16)
    ),
]

RANK_UP_IMAGE = lambda x: [
    RectangleLayer(
        pos=(0, 0),
        line_width=-1,
        size=(200, 100),
        radius=20,
        color=(55, 50, 48),
    ),
    RectangleLayer(
        pos=(1, 1),
        line_width=2,
        size=(198, 98),
        radius=20,
        color=LinearGradientColor(SingleColor(x['old_color']),
                                  SingleColor(x['new_color']),
                                  1)
    ),
]
