{% extends 'base.html' %}
{% block content %}
{% include 'guild-nav.html' %}
<style>
details > summary {
  list-style: none;
}
details > summary::marker {
  display: none;
}
</style>
<div style="margin: 10px;">
    <form id="settingsForm" action="javascript:void(0);">
        {% for key, value in settings.items() %}
        <details class="text-left">
            <summary class="mb-2"><span class="btn btn-secondary w-100 font-weight-bold">{{ key }}</span></summary>
            <button class="btn btn-primary mb-2">Save</button>
            <textarea class="form-control mb-2" name="{{ key }}">{{ value }}</textarea>
        </details>

        {% endfor %}
    </form>
</div>
<script>
    $("#settingsForm details").each(function(details) {
        var _this = this;
        $(_this).on('click', function() {
            if ($(_this).attr('open') != 'open') {
                setTimeout(function() {
                    $(_this).find("textarea").height( $(_this).find("textarea")[0].scrollHeight );
                }, 0);
            }
        });
        $(_this).find("button").on('click', function() {
            var t = $(_this).find("textarea");
            var key = t.attr('name');
            var value = t.val()
            console.log('setting', key, 'to', value);

            var jqxhr = $.post("", {key, value}, function(data) {
                t.val(data);
                alert( "success" );
            }).fail(function() {
                alert( "error" );
            }).always(function() {
                // alert( "finished" );
            });
        });
    });

</script>
{% endblock %}
