{% extends 'base.html' %}
{% block content %}
{% include 'guild-nav.html' %}
<div style="margin: 10px;">
    <ul style="list-style-type: none; margin: 0; padding: 0;">
        {%for user in ranking%}
        <li style="margin: 10px;">
            <div class="card">
                <div class="d-flex">
                    <div class="flex-fill">
                        <img class="card-img"
                             src="{{user.avatar_url}}"
                             alt="Image"
                             style="height:100px; width:100px; object-fit: scale-down;"
                        >
                    </div>
                    <div class="flex-fill">
                        <div class="card-body">
                            <h5 class="card-title">{{user.name}}, Lvl. {{user.lvl}}, XP {{user.xp}}/{{user.max_xp}}, Rank: #{{user.rank}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {%endfor%}
    </ul>
</div>
{% endblock %}
