{% extends 'base.html' %}
{% block content %}
{% include 'nav.html' %}
<div style="margin: 10px;">
    <p class="h4 mb-2 mt-2">Your Servers:</p>
    <div class="card-deck w-100" style="margin: 0;" id="guild-cards">
        {% for guild in guilds %}
            <div class="card m-2" style="min-width: 200px;">
                <img class="card-img-top"
                     style="max-height:100px; height:100%; object-fit: scale-down;"
                     src="https://cdn.discordapp.com/icons/{{guild.id}}/{{guild.icon}}"
                     onerror="this.onerror=null; this.remove();">
                <div class="card-body">
                    <a href="/guild/{{guild.id}}/" class="stretched-link color-primary">
                        <p class="card-title">{{guild.name}}</p>
                    </a>
                </div>

<!--                    <h5 class="card-title">Users:</h5>-->
<!--                    <ul class="list-group">`+-->
<!--                        room.users.map((user) => {-->
<!--                            return '<li class="list-group-item">'+user+'</li>';-->
<!--                        }).join('')-->
<!--                    +`</ul>-->
<!--                    <a href="/room/`+room.id+`" class="btn btn-primary stretched-link mt-2">Join</a>-->
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
