<div style="background-color: white; padding: 2px 10px 2px 10px; border-radius: 15px; border-style: solid; border-color: var(--secondary);">
    <svg style="width: 22px; margin-top: -15px;" viewBox="0 0 21.67 30.96">
        <defs>
            <style>
                .cls-1,
                .cls-2 {
                    fill: none;
                    stroke-miterlimit: 10;
                    stroke-width: 4px;
                }

                .cls-1 {
                    stroke: var(--primary);
                }

                .cls-2 {
                    stroke: var(--secondary);
                }
            </style>
        </defs>
        <title>Unbenannt 2</title>
        <rect class="cls-1" x="2491.54" y="2486.73" width="11.37" height="16.84" rx="2.29" ry="2.29"
            transform="translate(-2666.36 -2293.48) rotate(-4.23)" />
        <path class="cls-2"
            d="M2496.72,2501.63l-.15-2.11a2.67,2.67,0,0,1,2.46-2.86l6-.45a2.68,2.68,0,0,1,2.87,2.47l.84,11.46a2.68,2.68,0,0,1-2.47,2.87l-6,.44a2.68,2.68,0,0,1-2.87-2.47l-.39-5.36"
            transform="translate(-2489.1 -2484.5)" />
    </svg>
    <span style="font-size: 30px; font-family: 'Product Sans'; font-weight: bold;"><span
            style="color: var(--primary);">Spark</span><span
            style="color: var(--secondary);">Bot</span></span>
</div>