:root {
    --black: #000000;
    --light-black: #17181a;
    --dark-grey: #2a2a2c;
    --grey1: #303237;
    --grey2: #454951;
    --grey3: #9fa5ad;
    --grey4: #b7bec5;

    --stg-orange: #d98e4c;
    --stg-yellow: #ffde07;
    --stg-info: #36a9e1;
    --stg-info-dark: #2485b6;

    --purple: #a654e9;
    --blue: #67a1ff;
    --cyan: #76ffed;
    --green: #2fac66;

    --font-regular: "regular";
    --font-bold: "bold";
}

:root {
    --font-family-sans-serif: "Product Sans", "Segoe UI", "Helvetica Neue", Arial,
        "Noto Sans", sans-serif !important;
}

* {
    position: relative;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    ::-webkit-scrollbar {
        background: transparent;
    }

    ::-webkit-scrollbar:vertical {
        width: 10px;
    }

    ::-webkit-scrollbar:horizontal {
        height: 10px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--grey1);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    .bg-dark::-webkit-scrollbar {
        background: rgba(255, 255, 255, 0.8);
    }
}


.btn-toggle>i.toggle-icon:before {
    content: "\f077";
    transition: all 0.5s;
    display: inline-block;
}

.btn-toggle.collapsed>i.toggle-icon:before {
    transform: rotate(180deg);
}


/* route transition */
.route-enter-from {
    opacity: 0;
    /* transform: translateY(50px); */
    margin-top: -25px;
}

.route-enter-active {
    transition: all 250ms ease-out;
}

.route-leave-to {
    opacity: 0;
    /* transform: translateY(-50px); */
    margin-top: 25px;
}

.route-leave-active {
    transition: all 250ms ease-in;
}

.btn-nofocus:focus {
    box-shadow: none !important;
}

.router-view {
    min-height: 100vh;
}

.container-large {
    max-width: 1400px !important;
}

.main {
    display: flex;
    flex-wrap: nowrap;
    /* height: 100vh; */
    height: -webkit-fill-available;
    /* max-height: 100vh; */
    overflow-x: auto;
    /* overflow-y: hidden; */
}

.spark-fixed-sidebar {
    position: fixed;
    left: 0;
	top: 0;
    overflow-y: scroll;
    width: inherit;
    height: inherit;
    background-color: #303237;
    padding: 1rem;
    z-index: 1;
    overflow: hidden;
}

.spark-sidebar-container {
    width: 325px;
    height: 100vh;
    transition: width 0.5s;
}

img.sidebar-server-image {
    border-radius: 50%;
    width: 50px;
}

.spark-sidebar-container.sidebar-collapsed {
    width: 59px;
}

.spark-sidebar-container.sidebar-collapsed .spark-fixed-sidebar {
    padding-left: 0;
    padding-right: 0;
}

.spark-sidebar-container.sidebar-collapsed:hover {
    width: 185px;
}

.sidebar-hide-collapsed {
    opacity: 1;
    transition: opacity 0.1s 0.25s, transform 0.7s;
    transform: translateX(0);
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-collapsed:hover .sidebar-hide-collapsed:not(.sidebar-hide-collapsed-hover) {
    position: relative;
    opacity: 1;
    transform: translateX(0);
    transition: opacity 0.1s 0.25s, transform 0.7s, width 5s;
}

.sidebar-collapsed .sidebar-hide-collapsed {
    position: absolute;
    opacity: 0;
    transition: opacity 0s 0s;
    transform: translateX(-5px);
}

.sidebar-collapsed img.sidebar-server-image {
    width: 30px;
}

.spark-sidebar-container li {
    width: 100%;
}

.sidebar-collapsed:not(:hover) li .nav-link .d-flex {
    justify-content: center !important;
}

.sidebar-dropdown {
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: space-between;
}

.sidebar-collapsed .sidebar-dropdown {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
}

.spark-logo {
    transition: transform 0.5s;
}

.sidebar-collapsed .spark-logo {
    transform: rotate(-30deg);
    transition: transform 0.5s;
}

.sidebar-collapsed .spark-logo .d-flex {
    justify-content: center;
}

.spark-logo img {
    user-drag: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.spark-title-image {
    width: fit-content;
    height: fit-content;
}

.spark-logo-image {
    transition: width 0.5s, height 0.5s, transform 15000s cubic-bezier(0.25, 0.46, 0.46, 0.63);
    width: 64px;
    height: 64px;
}

.sidebar-collapsed .spark-logo-image {
    width: 32px;
    height: 32px;
}

.spark-logo-glow {
    z-index: -1;
    filter: blur(20px);
    transition: opacity .5s ease-in-out;
    left: 3px;
    top: 50%;
    border-radius: 50%;
    transform: translate(0, -50%);
    position: absolute;
    width: 50px;
    height: 50px;
    background: linear-gradient(135deg, #FFEF26, #ff8800);
}

.sidebar-collapsed .spark-logo-glow {
    width: 30px;
    height: 30px;
    filter: blur(10px);
}

.spark-logo .spark-logo-glow {
    opacity: 0;
}

.spark-logo-container:hover {
    cursor: pointer;
}

.spark-logo-container:hover .spark-logo-image {
    transform: rotate(3599990deg);
}

.spark-logo-container:hover .spark-logo-glow {
    opacity: 1;
}

.view-main-card {
    background-color: var(--grey1);
    border-radius: 1rem;
    padding: 2.5rem;
    color: white !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.background-text {
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

button.view-main-card {
    border-width: 0;
}

button.view-main-card:hover {
    background-color: #292b2f;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4) !important;
    transform: translateY(-5px);
    transition: background-color .125s, box-shadow .3s, transform .3s;
}

.global-loading-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    vertical-align: middle;
    text-align: center;
}

.global-loading-overlay>.spinner-border {
    margin-top: 45vh;
    width: 4rem;
    height: 4rem;
    border: 0.5em solid var(--grey2);
    border-right-color: transparent;
}

.xp-dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

/* Chrome fix */
html,
body,
.main {
    min-height: 100vh;
}

body {
    font-family: var(--font-family-sans-serif) !important;
    /* overflow: hidden; */
}

.nav-link {
    transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
        border-color 250ms ease-in-out;
}

.router-link-active {
    background-color: var(--grey2) !important;
}

.bg-purple {
    background-color: var(--purple) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.bg-cyan {
    background-color: var(--cyan) !important;
}

.bg-green {
    background-color: var(--green) !important;
}

.bg-gray1 {
    background-color: var(--grey1);
}

.bg-gray2 {
    background-color: var(--grey2);
}

.bg-gray2-important {
    background-color: var(--grey2) !important;
}

.bg-gray3 {
    background-color: var(--grey3);
}

.bg-gray4 {
    background-color: var(--grey4);
}

.text-gray1 {
    color: var(--grey1);
}

.text-gray2 {
    color: var(--grey2);
}

.text-gray3 {
    color: var(--grey3);
}

.text-gray4 {
    color: var(--grey4);
}

.default-gradient {
    background-image: linear-gradient(to right,
            var(--stg-orange),
            var(--stg-yellow));
}

.vl {
    background-color: var(--grey2);
    width: 2px;
    border-radius: 1px;
}

.hl {
    background-color: var(--grey2);
    height: 2px;
    border-radius: 1px;
}

.hr {
    border-color: var(--grey2) !important;
    background-color: var(--grey2) !important;
    border-radius: 4px;
    width: 100% !important;
}

hr {
    border-color: var(--grey2) !important;
    background-color: var(--grey2) !important;
    border-radius: 4px;
}

h1,
h2 {
    color: white;
    font-weight: 600 !important;
    letter-spacing: 1px;
}

h3,
h4,
h5 {
    color: white;
    letter-spacing: 1px;
}

p {
    color: white;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.text-field-dark {
    font-size: 18px;
    color: white;
    background-color: var(--dark-grey);
    padding: 8px 16px;
    border-radius: 0.5rem;
}

.dark-hover:hover:not(.btn-secondary) {
    background-color: var(--dark-grey);
}

.btn.btn-info {
    color: #fff;
    background-color: var(--stg-info);
    border-color: var(--stg-info);
}

.btn.btn-info:hover {
    color: #fff;
    background-color: var(--stg-info-dark);
    border-color: var(--stg-info-dark);
}

.btn.btn-info:disabled {
    color: #fff;
    background-color: var(--stg-info-dark);
    border-color: var(--stg-info-dark);
}

.btn.btn-info:focus {
    color: #fff;
    background-color: var(--stg-info-dark);
    border-color: var(--stg-info-dark);
}

.btn.btn-dark {
    background-color: var(--grey1);
    border-color: var(--grey1);
}

.btn-secondary {
    background-color: var(--dark-grey);
    padding: 8px 16px;
    border-radius: 0.5rem;
    border-color: transparent;
}

.btn-check:focus+.btn-secondary,
.btn-secondary:focus {
    color: #fff;
    background-color: #5c636a;
    border-color: transparent;
    box-shadow: transparent;
}

hr {
    width: 100%;
}

.dropdown-menu {
    background-color: var(--grey1) !important;
}

.dropdown-item:hover {
    background-color: var(--grey2) !important;
}

.dropdown-divider {
    border-top: 1px solid var(--grey2) !important;
    width: 80%;
    position: relative;
    transform: translate(-50%, 0);
    left: 50%;
}

.spark-rounded {
    border-radius: 0.5rem;
}

textarea {
    border-radius: 0.5rem;
}

textarea.is-invalid {
    box-shadow: 0 0 0.5rem 0.2rem var(--bs-danger);
}

.dropdown-item {
    color: #f3f3f3;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out;
}

.vertical-divider {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    border-left: 1px solid var(--grey2);
}

div.swal2-popup {
    background-color: var(--dark-grey);
}

.emoji {
    width: 20px;
    height: 20px;
    background-size: cover;
}

.emoji-profile {
    background: url("./assets/icons/profile.svg") no-repeat;
    margin-left: 2px !important;
}

.emoji-profile.emoji-gold {
    background: url("./assets/icons/profile-gold.svg") no-repeat;
}

.emoji-choose-server {
    background: url("./assets/icons/choose-server.svg") no-repeat;
    margin-bottom: 1px;
}

.emoji-choose-server.emoji-gold {
    background: url("./assets/icons/choose-server-gold.svg") no-repeat;
}

.emoji-wallet {
    background: url("./assets/icons/wallet.svg") no-repeat;
    margin-top: 5px;
}

.emoji-wallet.emoji-gold {
    background: url("./assets/icons/wallet-gold.svg") no-repeat;
}

.emoji-wheelspin {
    background: url("./assets/icons/wheelspin.svg") no-repeat;
}

.emoji-wheelspin.emoji-gold {
    background: url("./assets/icons/wheelspin-gold.svg") no-repeat;
}

.emoji-promo-code {
    background: url("./assets/icons/promo-code.svg") no-repeat;
    margin-top: 7px !important;
    margin-left: 2px !important;
}

.emoji-promo-code.emoji-gold {
    background: url("./assets/icons/promo-code-gold.svg") no-repeat;
}

.emoji-profile-card {
    background: url("./assets/icons/profile-card.svg") no-repeat;
    margin-top: 5px !important;
}

.emoji-profile-card.emoji-gold {
    background: url("./assets/icons/profile-card-gold.svg") no-repeat;
}

.emoji-server-settings {
    background: url("./assets/icons/server-settings.svg") no-repeat;
}

.emoji-server-settings.emoji-gold {
    background: url("./assets/icons/server-settings-gold.svg") no-repeat;
}

.emoji-ranking {
    background: url("./assets/icons/ranking.svg") no-repeat;
    margin-bottom: 2px;
}

.emoji-ranking.emoji-gold {
    background: url("./assets/icons/ranking-gold.svg") no-repeat;
}

.emoji-boosts {
    background: url("./assets/icons/boosts.svg") no-repeat;
    margin-bottom: 2px;
    margin-left: 2px;
}

.emoji-boosts.emoji-gold {
    background: url("./assets/icons/boosts-gold.svg") no-repeat;
}

.emoji-admin-tools {
    background: url("./assets/icons/admin-tools.svg") no-repeat;
}


.emoji-admin-tools.emoji-gold {
    background: url("./assets/icons/admin-tools-gold.svg") no-repeat;
}

.emoji-server-modules {
    background: url("./assets/icons/server-modules.svg") no-repeat;
}

.emoji-server-modules.emoji-gold {
    background: url("./assets/icons/server-modules-gold.svg") no-repeat;
}

.emoji-inventory-system {
    background: url("./assets/icons/inventory-system.svg") no-repeat;
}

.emoji-inventory-system.emoji-gold {
    background: url("./assets/icons/inventory-system-gold.svg") no-repeat;
}

.emoji-store {
    background: url("./assets/icons/store.svg") no-repeat;
}

.emoji-store.emoji-gold {
    background: url("./assets/icons/store-gold.svg") no-repeat;
}